#root {
  color: #fff;
  font-family: system-ui;
}

.navbar {
  display: block;
  background: #43a047;
  padding: 1.2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  text-align: center;
  color: #43a047;
}

.card {
  transition: all 0.3s;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.08);
}

.card:hover .card-img{
  /* background-color: rgba(67, 160, 71, .5); */
  filter: brightness(50%);
}

.heart {
  cursor: pointer;
}
